:root {
	--brand-color: #e5e5e5;
	--secondary-brand-color: #2f303a;

	--color-hover: #2196f3;

	--text-color: #ffffff;
	--secoundary-text-color: #212121;
	--third-text-color: #757575;
}

body {
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
}
img {
	display: block;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.conteiner {
	padding: 0 15px;
	width: 1200px;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
/* Modal BOX */
.backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition-property: opacity, visibility;
	transition-duration: 2s;
	visibility: visible;
	
}
.is-hidden {
	pointer-events: none;
	visibility: hidden;
	transition-property: visibility, opacity, pointer-events;
	opacity: 0;
}
.is-hidden .modal--is-hidden{
	transform: scale(0);
	transition-property: transform;
	transition-duration: 2s;
}

.modal {
	position: relative;
	width: 528px;
	height: 581px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transform: scale(1);
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: 2s;
}
.close-btn {
	top: 8px;
	right: 8px;
	position: absolute;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.close-btn:hover{
	background:rgba(0, 0, 0, 0.1);
}
.close-btn:focus{
	background:rgba(0, 0, 0, 0.1);
}
.modal__box {
	position: relative;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}
.modal__box > h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secoundary-text-color);
}
.modal__box--form div {
	margin-top: 28px;
	position: relative;
}

.modal__box--form div label {
	position: absolute;
	top: -16px;
	font-size: 12px;
	line-height: 1.15;
	letter-spacing: 0.01em;
	color: var(--third-text-color);
}

.modal__box--form div svg {
	position: absolute;
	top: 11px;
	left: 13px;
	width: 18px;
	height: 18px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: fill;
}

.modal__box--form div input {
	width: 448px;
	height: 40px;
	padding-left: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: border;
}
.modal__box--form div textarea {
	width: 448px;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: border;
	resize: none;
}
.modal__box--form div textarea:hover {
	border: 1px solid var(--color-hover);
}
.modal__box--form div textarea:focus {
	border: 1px solid var(--color-hover);
}
.modal__box--form div textarea::placeholder {
	font-size: 12px;
	line-height: 1.15;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.modal__box--form div input:focus {
	border: 1px solid var(--color-hover);
}
.modal__box--form div input:focus + .modal__box--form-picture {
	fill: var(--color-hover);
}
.modal__box--form div input:hover {
	border: 1px solid var(--color-hover);
}
.modal__box--form div input:hover + .modal__box--form-picture {
	fill: var(--color-hover);
}
.modal__box--form button {
	margin: 30px auto 0px;

	width: 200px;
	height: 50px;
	background: var(--color-hover);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.06em;
	color: var(--text-color);
	cursor: pointer;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background;
}
.modal__box--form button:hover{
	background:rgba(0, 0, 0, 0.6);
}
.modal__box--form button:focus{
	background:rgba(0, 0, 0, 0.6);
}

.custom-checkbox {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--third-text-color);
	margin-left: 12px;
	margin-right: 12px;
	letter-spacing: 0.03em;
	margin-top: 20px;
}
.custom-checkbox a {
	color: var(--color-hover);
	letter-spacing: 0.03em;
}
.custom-checkbox input[type="checkbox"] {
	appearance: none;
	background: #fff;
	margin: 0px;
	border: 2px solid rgba(33, 33, 33, 0.2);
	width: 16px;
	height: 16px;
	border-radius: 4px;
	margin-right: 7px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background, border;
}
.custom-checkbox svg {
	position: absolute;
	left: 1px;
	top: 5px;
	opacity: 0;
	fill: #fff;
}
.custom-checkbox input[type="checkbox"]:checked + svg {
	opacity: 1;
}
.custom-checkbox input[type="checkbox"]:checked {
	background: var(--color-hover);
	border: 2px solid var(--color-hover);
}

/* ************************************* */
.header_box {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	height: 80px;
	border-bottom: 1px solid #ececec;
}
.header--flex {
	display: flex;
	align-items: center;
	padding: 15px;
}

.header__logo {
	font-family: "Raleway";
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #000000;
	display: block;
	padding-right: 93px;
}
.header__logo span {
	color: #2196f3;
}
.header__nav--list {
	list-style: none;
	display: flex;
}

.header__nav--link {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
	color: var(--secoundary-text-color);
	display: block;
	position: relative;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color;
}

.header__nav--list li:not(:last-child) {
	padding-right: 46px;
}
.header__nav--link:hover {
	color: var(--color-hover);
}
.header__nav--link:focus {
	color: var(--color-hover);
}
.active__page {
	color: var(--color-hover);
}
.active__page::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	background: var(--color-hover);
	border-radius: 2px;
	bottom: -33px;
	right: 0px;
}
.header__contact--list {
	list-style: none;
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header__contact--mail {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
	color: var(--third-text-color);
	fill: var(--third-text-color);
	display: block;
	display: flex;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color, fill;
}
.header__contact--phone {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
	color: var(--third-text-color);
	fill: var(--third-text-color);
	display: flex;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color, fill;
}
.header__contact--phone svg:not(:last-child) {
	margin-right: 10px;
}
.header__contact--mail svg:not(:last-child) {
	margin-right: 10px;
}

.header__contact--list li:not(:last-child) {
	padding-right: 50px;
}
.header__contact--mail:hover,
.header__contact--mail:focus {
	color: var(--color-hover);
	fill: var(--color-hover);
}
.header__contact--phone:focus,
.header__contact--phone:hover {
	color: var(--color-hover);
	fill: var(--color-hover);
}

.section__effective_solutions {
	background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
		url("../images/z.jpg");
	display: flex;
	height: 600px;
	justify-content: center;
	align-items: center;
	max-width: 1600px;
	background-size: auto;
	margin: 0 auto;
}

.section__effective_solutions--title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--text-color);

	width: 696px;
	height: 120px;
	margin: 0px auto 30px;
}
.section__effective_solutions--button {
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-width: 0px;
	cursor: pointer;
	font-family: "Roboto", sans-serif;

	/* text in box style */
	color: var(--text-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	margin: 0 auto;
	padding: 10px 41px;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color, background;
}
.section__effective_solutions--button:hover {
	background: #ffffff;
	color: var(--secoundary-text-color);
}
.section__effective_solutions--button:focus {
	background: #ffffff;
	color: var(--secoundary-text-color);
}

.section__loremipsum {
	display: flex;
	justify-content: center;
}
.section__loremipsum--list {
	list-style: none;
	display: flex;
	height: 100%;
}
.section__loremipsum--list li:not(:last-child) {
	padding-right: 30px;
}
.section__loremipsum--heading {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secoundary-text-color);
}
.section__loremipsum--paragraph {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--third-text-color);
}
.section__loremipsum--image_box {
	background-color: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;
}
.section__loremipsum--list svg {
	margin: 25px 100px;
}
.section__job {
	display: flex;
	padding-top: 0px;
	height: 100%;
	justify-content: center;
}
.section__job--list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.section__job--list li:not(:last-child) {
	padding-right: 30px;
}
.section__job--list_item {
	position: relative;
}
.section__job--item_box {
	position: absolute;
	bottom: 0px;
	width: 370px;
	height: 70px;
	background: rgba(47, 48, 58, 0.8);
	font-weight: 700;
	font-size: 14px;
	line-height: 1, 15;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
.section__job--heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secoundary-text-color);
	padding-bottom: 50px;
}
.section__team {
	background-color: #f5f4fa;
	display: flex;
	justify-content: center;
}
.section__team--list > li:not(:last-child) {
	padding-right: 30px;
}
.section__team--list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.section__team--heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secoundary-text-color);
	padding-bottom: 50px;
}
.section__team--figure {
	background: #ffffff;
	/* material shadow v1 */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	justify-content: center;
}

.section__team--figure_description {
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}
.section__team--figure_description h4 {
	font-weight: 500;
	color: var(--secoundary-text-color);
	padding-top: 30px;
	padding-bottom: 10px;
}
.section__team--figure_description p {
	color: var(--third-text-color);
	margin-bottom: 16px;
}
.section__team--social_media {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0px 32px 30px;
}
.section__team--social_media_link svg circle {
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: fill;
}
.section__team--social_media_link svg use {
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: fill;
}
.section__team--social_media_link:hover svg circle {
	fill: var(--color-hover);
}
.section__team--social_media_link:focus svg circle {
	fill: var(--color-hover);
}
.section__team--social_media_link:hover svg use {
	fill: var(--text-color);
}
.section__team--social_media_link:focus svg use {
	fill: var(--text-color);
}
.section__team--social_media_circle {
	fill: #ffffff;
}
.section__team--social_media_icon {
	fill: #afb1b8;
}
.section__customers {
	display: flex;
	justify-content: center;
}
.section__customers--img {
	width: 172px;
	height: 92px;
	fill: #afb1b8;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: border, border-radius, fill;
}
.section__customers--img:hover {
	border: 1px solid var(--color-hover);
	border-radius: 4px;
	fill: var(--color-hover);
}

.section__customers--img:focus {
	border: 1px solid var(--color-hover);
	border-radius: 4px;
	fill: var(--color-hover);
}
.section__customers--list_item:not(:last-child) {
	margin-right: 26px;
}

.section__customers--heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.section__customers--list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.footer--box {
	background-color: var(--secondary-brand-color);
	display: flex;
	justify-content: center;
	padding: 60px 0 60px;
}
.footer--heading {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: #ffffff;
	padding-bottom: 20px;
}
.footer--heading span {
	color: #2196f3;
}
.footer--address {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
	padding-bottom: 9px;
	font-style: normal;
}
.footer--list {
	list-style: none;
}
.footer--list li:not(:last-child) {
	padding-bottom: 9px;
}
.footer__contact--mail,
.footer__contact--phone {
	text-decoration: none;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff60;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color;
}
.footer__contact--mail:hover,
.footer__contact--phone:hover {
	color: var(--color-hover);
}
.footer__contact--mail:focus,
.footer__contact--phone:focus {
	color: var(--color-hover);
}
.footer__social_media--box {
	width: 206px;
	height: 80px;

	margin-left: 70px;
}
.footer__social_media--heading {
	font-weight: 700;
	font-size: 14px;
	line-height: 1, 15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--text-color);
	margin-top: 12px;
	margin-bottom: 20px;
}
.footer__social_media--list {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.footer__social_media--link svg circle {
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: fill;
}
.footer__social_media--link:hover svg circle {
	fill: var(--color-hover);
}
.footer__social_media--link:focus svg circle {
	fill: var(--color-hover);
}
.footer__social_media--circle {
	fill: #ffffff1a;
}
.footer__social_media--icon {
	fill: #ffffff;
}
.portfolio__section {
	display: flex;
	justify-content: center;
}
.footer__newsletter {
	margin-left: 78px;
}
.footer__newsletter--heading {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--text-color);
	margin-top: 12px;
	margin-bottom: 20px;
}
.footer__newsletter--form {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__newsletter--email {
	width: 350px;
	height: auto;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	color: var(--text-color);
	padding: 15px 16px;
	margin-right: 12px;
}
.footer__newsletter--email:hover{
	border: 1px solid var(--color-hover);
}
.footer__newsletter--email:focus{
	border: 1px solid var(--color-hover);
}
.footer__newsletter--button {
	width: 200px;
	height: 50px;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--text-color);
	border-width: 0px;
	display: flex;
	align-items: center;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color, background;
	cursor: pointer;
}
.footer__newsletter--button:hover {
	background: #ffffff;
	color: var(--secoundary-text-color);
}
.footer__newsletter--button:hover svg {
	fill: var(--secoundary-text-color);
}
.footer__newsletter--button:focus {
	background: #ffffff;
	color: var(--secoundary-text-color);
}
.footer__newsletter--button:focus svg {
	fill: var(--secoundary-text-color);
}
.footer__newsletter--button span {
	height: 24px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-left: 42px;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
}
.footer__newsletter--svg {
	fill: #fff;
	margin: auto 0 auto 24px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: fill;
}

.portfolio__section__button--list {
	display: flex;
	list-style: none;
	justify-content: center;
	padding-bottom: 50px;
}
.portfolio__section--button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.61;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secoundary-text-color);
	background: #f5f4fa;
	border-width: 0px;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	padding: 6px 20px;
	margin: 8px;
	border-radius: 4px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background, color, box-shadow;
}

.portfolio__section--button:hover {
	background: var(--color-hover);
	color: var(--text-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__section--button:focus {
	background: var(--color-hover);
	color: var(--text-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__picture--list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}
.portfolio__box--figure {
	background: #ffffff;
	/* border: 1px solid #eeeeee; */
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: box-shadow, cursor;
}
.portfolio__box--figure > .imgg {
	position: relative;
	overflow: hidden;
}
.portfolio__box--figure .overlay {
	height: 294px;
	width: 370px;
	padding: 24px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: var(--color-hover);
	transform: translateY(150%);
	transition-property: transform;
	transition-duration: 250ms;
}
.portfolio__box--figure p {
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: var(--text-color);
}
.portfolio__box--figure:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}
.portfolio__box--figure:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}

.portfolio__box--figure:hover .overlay {
	transform: translateY(0);
}
.portfolio__box--figure:focus .overlay {
	transform: translateY(0);
}

.portfolio__box--figure_description {
	border: 1px solid #eeeeee;
}
.portfolio__box--figure_description h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--secoundary-text-color);
	padding: 20px 24px 2px;
}
.portfolio__box--figure_description p {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--third-text-color);
	padding: 2px 24px 20px;
}

.footer_flex {
	display: flex;
}
